.item-cell--last {
  text-align: center;
}

.item-cell__wrap {
  margin: 0 auto;
  width: @mobile-width;
}

.item-cell__img-frame {
  position: absolute;
  top: -16px;
  left: 0;
}

.item-cell__title {
  width: 80px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 140px;
}

.item-cell__table {
  font-family: "Arial", sans-serif, "Sans";
  font-size: 12px;
  margin-left: 140px;
}

.item-cell__name {
  width: 100px;
}

.item-cell__value {
  width: 45px;
  text-align: right;
}

.item-cell__button {
  width: @mobile-width;
  margin: 30px auto 10px;
}

.item-cell__title--show-more {
  margin: auto;
  width: 220px;
}

.item-cell__interactive {
  margin: auto;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin-bottom: 20px;
}

.item-cell__text {
  font-family: "Arial", sans-serif, "Sans";
  font-size: 12px;
}

.item-cell__button--show-more {
  background-color: @footer-background;
  color: @black;
}

@media screen and (min-width: @tablet-viewport) {
  .item-cell {
    display: flex;
    padding-top: 163px;
  }

  .item-cell__img-frame {
    position: absolute;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: -63px;
    left: 0;
  }

  .item-cell__title {
    margin: 0 auto;
    line-height: @tablet-font;
    font-size: @tablet-font;
    font-weight: 300;
    text-align: center;
    width: 140px;
  }

  .item-cell__table {
    margin: 17px auto auto;
    font-size: @tablet-text-size;
  }

  .item-cell__table-row {
    display: block;
    border-collapse: collapse;
  }

  .item-cell__name {
    padding-top: 7px;
    padding-bottom: 6px;
    width: 185px;
    border-bottom: 1px solid @tablet-table-color;
  }

  .item-cell__value {
    padding-right: 0;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 4px;
    width: 62px;
    border-bottom: 1px solid @tablet-table-color;
  }

  .item-cell--last {
    background-color: white;
    width: 324px;
    outline: 1px solid @footer-background;
  }

  .item-cell__button {
    width: 249px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 31px;
    margin-bottom: 30px;
  }

  .item-cell__title--show-more {
    width: 150px;
  }

  .item-cell__text {
    display: block;
    margin: 0 auto;
    font-size: @tablet-text-size;
    line-height: auto;
    margin-top: 26px;
    margin-bottom: 42px;
  }

  .intem-cell--show-more {
    width: 170px;
    margin-bottom: 88px;
  }

  .item-cell__interactive {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 54px;
    left: 132px;
    background-image: url("../img/icon-plus.svg");
  }
}

@media screen and (min-width: @desktop-viewport) {
  .item-cell {
    padding-top: 163px;
  }

  .item-cell__img-frame {
    position: absolute;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: -62px;
    left: 0;
  }

  .item-cell__name {
    width: 110px;
  }

  .item-cell__value {
    width: 59px;
  }

  .item-cell__button {
    width: 169px;
    margin-bottom: 40px;
  }

  .item-cell--last {
    width: 245px - 2px;
    background-color: white;
    border: 1px solid @footer-background;
  }

  .item-cell__interactive {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 53px;
    left: 92px;
    background-image: url("../img/icon-plus.svg");
  }

  .intem-cell--show-more {
    width: 170px;
    margin-bottom: 85px;
  }
}
