.item-cell {
  border-left: 1px solid @footer-underline;
  border-right: 1px solid @footer-underline;
  border-bottom: 1px solid @footer-underline;

  &:first-child {
    border-top: 1px solid @footer-underline;
  }
}

.item-cell--last {
  text-align: center;
}

.item-cell__wrap {
  margin: 0 auto;
  width: @mobile-width + 8px;
}

.item-cell__img-frame {
  display: block;
  position: absolute;
  top: 0;
  left: 19px;

  text-decoration: none;
}

.item-cell__title {
  display: block;
  width: 80px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 144px;

  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  color: @title-color;
  line-height: 20px;
}

.item-cell__table {
  margin-top: -4px;
  margin-left: 141px;

  font-family: "Arial", sans-serif, serif;
  font-size: 12px;
  line-height: 12px;
}

.item-cell__name {
  width: 100px;
}

.item-cell__value {
  width: 50px;
  text-align: right;
}

.item-cell__button {
  width: @mobile-width - 111px;
  padding-left: 111px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin: 21px auto 24px;

  text-align: left;
}

.item-cell__title--show-more {
  margin: auto;
  margin-left: 35px;
  width: 220px;
  margin-bottom: -1px;
}

.item-cell__interactive {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 24px;
  width: 30px;
  height: 30px;

  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.item-cell__text {
  font-family: "Arial", sans-serif, serif;
  font-size: 12px;
}

.item-cell__button--show-more {

  display: block;
  padding-top: 11px;
  padding-left: 0;
  padding-bottom: 11px;
  margin: 21px auto 24px;
  width: @mobile-width;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  background-color: @footer-background;
  color: @black;
  text-align: center;
}

@media screen and (min-width: @tablet-viewport) {
  .item-cell {
    display: flex;
    padding-top: 163px;

    border: 0;

    &:first-child {
      border-top: 0;
    }
  }

  .item-cell__img-frame {
    position: absolute;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: -63px;
    left: 0;
  }

  .item-cell__title {
    width: 140px;
    margin: 0 auto;
    margin-left: 75px;

    line-height: @tablet-font;
    font-size: @tablet-font;
    font-weight: 300;
    text-align: center;
  }

  .item-cell__table {
    margin: 17px auto auto;

    font-size: @tablet-text-size;
  }

  .item-cell__table-row {
    display: block;
    border-collapse: collapse;
  }

  .item-cell__name {
    padding-top: 10px;
    padding-bottom: 9px;
    width: 185px;

    border-bottom: 1px solid @tablet-table-color;
  }

  .item-cell__value {
    width: 62px;
    padding-right: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 9px;

    border-bottom: 1px solid @tablet-table-color;
  }

  .item-cell--last {
    width: 324px - 2px;

    background-color: white;
    border: 1px solid @footer-background;
  }

  .item-cell__button {
    width: 249px - 95px;
    padding-left: 95px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 20px;
    margin-top: 31px;
    margin-bottom: 40px;

    font-size: 16px;
    font-weight: 300;
  }

  .item-cell__title--show-more {
    width: 150px;
    margin-left: 70px;
  }

  .item-cell__text {
    display: block;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 42px;

    font-size: @tablet-text-size;
    line-height: auto;
  }

  .intem-cell__text--show-more {
    width: 170px;
    margin-bottom: 84px;

    line-height: 19px;
  }

  .item-cell__interactive {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 34px;
    left: 132px;

    background-image: url("../img/icon-plus.svg");
  }

  .item-cell__button--show-more {
    width: 249px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 20px;
    margin-top: 31px;
    margin-bottom: 38px;

    font-size: 16px;
    font-weight: 300;
  }
}

@media screen and (min-width: @desktop-viewport) {
  .item-cell {
    padding-top: 163px;
  }

  .item-cell__img-frame {
    position: absolute;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: -62px;
    left: 0;
  }

  .item-cell__title {
    width: 140px;
    margin: 0 auto;
    margin-left: 53px;
  }

  .item-cell__table {
    margin-top: 17px;
  }

  .item-cell__table-row {
    display: block;
  }

  .item-cell__name {
    padding-top: 10px;
    padding-bottom: 9px;
    width: 107px;
  }

  .item-cell__value {
    padding-top: 10px;
    padding-bottom: 9px;
    width: 59px;
  }

  .item-cell__button {
    width: 169px - 55px;
    padding-left: 55px;
    margin-left: 38px;
    margin-top: 31px;

    &:hover {
      background-color: @hover-button-color;
    }

    &:active {
      color: @button-active-color;
    }
  }

  .item-cell--last {
    width: 245px - 2px;

    background-color: white;
    border: 1px solid @footer-background;
  }

  .item-cell__interactive {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 33px;
    left: 92px;

    background-image: url("../img/icon-plus.svg");
  }

  .intem-cell__text--show-more {
    margin-top: 25px;
  }

  .item-cell__button--show-more {
    width: 170px;
    padding-left: 0;
    margin-left: 38px;
    margin-top: 31px;
    margin-bottom: 39px;

    &:hover {
      background-color: @show-more-hover-button-color;
    }

    &:active {
      color: @show-more-hover-text-color;
    }
  }
}
