.social-site {
  display: block;
  width: @mobile-width;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid @footer-underline;
}

.social-site__element {
  display: inline-block;
  width: 22px;
  height: 19px;
}

.social-site__element--vk {
  background-image: url("../img/icon-vk-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin-right: 35px;
}

.social-site__element--ig {
  background-image: url("../img/icon-insta-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-site__element--fb {
  background-image: url("../img/icon-fb-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: 35px;
}
