@tablet-font: 20px;

.header-bottom {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  color: @promo-text-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  text-align: center;
}

.header-bottom__title {
  font-weight: 300;
  font-size: @promo-title-size;
}

.header-bottom__text {
  font-size: @promo-text-size;
  text-transform: uppercase;
  font-weight: 300;
}

.header-bottom__img {
  display:block;
  width: 280px;
  height: 271px;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-bottom__button {
  width: @mobile-width;
  margin-left: auto;
  margin-right: auto;
  font-size: @promo-text-size;
}

@media screen and (min-width: @tablet-width) {
  .header-bottom {
    width: 619px;
    text-align: left;
    margin: 0 auto;
    background-image: none;
    margin-left: 110px;
  }

  .header-bottom__title {
    color: @black;
    font-size: @tablet-font * 3;
    width: 420px;
    margin-bottom: 0;
  }

  .header-bottom__text {
    color: @black;
    font-size: @tablet-font;
  }

  .header-bottom__img {
    order: 1;
    display:block;
    width: 709px;
    height: 609px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    margin-left: -90px;
  }

  .header-bottom__button {
    order: 0;
    width: 245px;
    margin-left: 0;
    font-size: @tablet-font;
  }

}
