@import "social-site.less";
.page-footer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: @mobile-viewport;
  background-color: @footer-background;
}

.page-footer__logo {
  width: @mobile-width;
  text-align: center;
  height: 24px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid @footer-underline;
}

.page-footer__reference {
  width: @mobile-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.page-footer__academy {
  text-decoration: none;
  font-family: arial;
  font-size: 16px;
  color: @footer-text;
}

.page-footer__academy-icon {
  width: 27px;
  height: 34px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}
