@black: black;
@promo-text-color: white;
@promo-title-size: 36px;
@promo-text-size: 14px;
@promo-button-color: #68b738;
@mobile-width: 280px;
@mobile-viewport: 320px;
@header-size: 24px;
@footer-background: #f2f2f2;
@footer-underline: #e5e5e5;
@footer-text: #444444;
@border-color: #e6e6e6;
@menu-text-size: 20px;
@intro-background-color: #f2f2f2;


@tablet-width: 708px;
@tablet-viewport: 768px;
@tablet-font: 20px;
@tablet-tile-size: 36px;
@tablet-text-size: 16px;
@tablet-table-color: #cdcdcd;

@desktop-width: 1220px;
@desktop-viewport: 1300px;
@desktop-title-size: 36px;

