.effect {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.effect__text {
  display: inline-block;
  font-family: arial;
  font-size: 14px;
  width: 200px;
}

.effect__number {
  display: none;
}

.effect__icon {
  display: inline-block;
  margin-left: 0px;
  width: 60px;
  height: 60px;
  background-color: @promo-button-color;
}

.effect__icon--leaf {
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.effect__icon--bubble {
  background-image: url("../img/advantage-powder@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.effect__icon--cutlery {
  background-image: url("../img/advantage-dining@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.effect__icon--clock {
  background-image: url("../img/advantage-clock@1x.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media screen and (min-width: @tablet-viewport) {
  .effect {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 324px;
    margin-bottom: 89px;
  }

  .effect__icon {
    width: 80px;
    height: 80px;
  }

  .effect__text {
    margin-top: 32px;
    font-size: @tablet-text-size;
    line-height: 24px;
    width: 245px;
    margin-bottom: 45px;
  }

  .effect__number {
    position: absolute;
    top: -60px;
    font-weight: 300;
    left: 113px;
    z-index: -1;
    display: block;
    font-size: 281px;
    color: @footer-background;
  }
}

@media screen and (min-width: @desktop-viewport) {
  .effect {
    width: 245px;
  }

  .effect__text {
    line-height: 24px;
    margin-top: 32px;
  }

  .effect__number {
    top: -60px;
    left: 114px;
    font-size: 281px;
    font-weight: 300;
  }
}
