.header-bottom {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  color: @promo-text-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  text-align: center;
}

.header-bottom__title {
  font-weight: 300;
  font-size: @promo-title-size;
}

.header-bottom__text {
  font-size: @promo-text-size;
  text-transform: uppercase;
  font-weight: 300;
}

.header-bottom__img {
  display:block;
  width: 280px;
  height: 271px;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-bottom__button {
  width: @mobile-width;
  margin-left: auto;
  margin-right: auto;
  font-size: @promo-text-size;
}

@media screen and (min-width: @tablet-viewport) {
  .header-bottom {
    width: @tablet-width - 88px;
    text-align: left;
    margin: 0 auto;
    background-image: none;
    padding-left: 88px;
  }

  .header-bottom__title {
    margin-top: 59px;
    color: @black;
    font-size: @tablet-font * 3;
    line-height: @tablet-font * 3;
    width: 420px;
    margin-bottom: 0;
  }

  .header-bottom__text {
    margin-top: 39px;
    color: @black;
    font-size: @tablet-font;
  }

  .header-bottom__img {
    order: 1;
    display:block;
    width: 709px;
    height: 609px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    margin-top: -80px;
    margin-left: -90px;
    z-index: -1;
  }

  .header-bottom__button {
    order: 0;
    width: 245px;
    margin-top: 25px;
    margin-left: 0;
    font-size: @tablet-font;
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

@media screen and (min-width: @desktop-viewport) {
  .header-bottom {
    width: @desktop-width - 81px;
    margin: 0 auto;
    padding-left: 81px;
  }

  .header-bottom__img {
    position: absolute;
    top: 109px;
    left: 44.3%;
    display:block;
    width: 552px;
    height: 499px;
    background-image: url("../img/index-can-desktop@1x.png");
  }

  .header-bottom__title {
    margin-top: 109px;
    line-height: 60px;
  }
  .header-bottom__text  {
    margin-top: 40px;
  }

  .header-bottom__button {
    text-align: center;
    width: 193px;
    margin-top: 31px;
    padding-top: 14px;
    margin-left: -1px;
    padding-left: 25px;
    padding-right: 27px;
    padding-bottom: 15px;
    margin-bottom: 188px;
  }

}
